<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6">
                <div class="card">
                    <h1 class="lightBlack">#{bundle['joinOrganisation']}</h1>
                    <h:form id="joinForm">
                        <p:focus context="joinForm"/>
                        <p:panelGrid columns="1" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
                            <p:outputLabel for="organisation" value="#{bundle['selectJoinOrganisation']}" />
                            <p:selectOneMenu id="organisation" value="#{joinOrganisationBean.selectedOrganisation}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true">
                                <f:selectItem itemLabel="Select One" itemValue="" />
                                <f:selectItems value="#{joinOrganisationBean.organisations}" var="organisation" itemLabel="#{organisation.name}" itemValue="#{organisation}"/>
                            </p:selectOneMenu>
                            <p:message for="organisation" />
                        </p:panelGrid>
                        <p:commandButton value="#{bundle['sendJoinRequest']}" style="width:auto;margin-top:10px;margin-right: 10px" action="#{joinOrganisationBean.sendJoinRequest()}"/>       
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>