<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">    
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6">
                <div class="card">
                    <h1 class="lightBlack">#{bundle['profile']}</h1>
                    <p:tabView id="tabView" style="margin-bottom:40px">
                        <p:tab title="#{bundle['personalDetails']}">
                            <h:form id="personalDetailsForm">
                                <p:focus context="personalDetailsForm"/>
                                <p:panelGrid columns="1" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
                                    <p:outputLabel for="name" value="#{bundle['name']}"/>
                                    <p:inputText id="name" value="#{profileBean.person.firstName}" required="true" disabled="#{!profileBean.editing}"/>
                                    <p:message for="name" />
                                    <p:outputLabel for="surname" value="#{bundle['surname']}" />
                                    <p:inputText id="surname" value="#{profileBean.person.surname}" required="true" disabled="#{!profileBean.editing}"/>
                                    <p:message for="surname" />
                                    <p:outputLabel for="email" value="#{bundle['email']}" />
                                    <p:inputText id="email" value="#{profileBean.person.email}" required="true" disabled="#{!profileBean.editing}"/>                       
                                    <p:message for="email" />
                                    <p:outputLabel for="mobileNumber" value="#{bundle['mobileNumber']}" />
                                    <p:inputText id="mobileNumber" value="#{profileBean.person.mobileNumber}" disabled="#{!profileBean.editing}"/>
                                    <p:outputLabel for="phoneNumber" value="#{bundle['phoneNumber']}" />
                                    <p:inputText id="phoneNumber" value="#{profileBean.person.phoneNumber}" disabled="#{!profileBean.editing}"/>                                                
                                </p:panelGrid>
                                <p:commandButton value="#{bundle['edit']}" style="width:auto;margin-top:10px;" rendered="#{!profileBean.editing}" action="#{profileBean.edit}" update="personalDetailsForm"/>
                                <p:commandButton value="#{bundle['saveChanges']}" style="width:auto;margin-top:10px;margin-right: 10px" rendered="#{profileBean.editing}" action="#{profileBean.saveBasicInfo()}" update="personalDetailsForm, messages"/>       
                                <p:commandButton value="#{bundle['cancel']}" styleClass="gray-button" style="width:auto;margin-top:10px;" rendered="#{profileBean.editing}" action="#{profileBean.cancelBasicInfoEdit()}" immediate="true" update="personalDetailsForm"/>
                            </h:form>
                        </p:tab>
                        <p:tab title="#{bundle['physicalAddress']}">
                            <h:form id="physicalAddressForm">
                                <p:focus context="physicalAddressForm"/>
                                <p:panelGrid columns="1" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
                                    <p:outputLabel for="physicalAddress" value="#{bundle['physicalAddress']}" />
                                    <p:inputTextarea id="physicalAddress" value="#{profileBean.physicalAddress.address}" required="true" maxlength="255" disabled="#{!profileBean.editing}"/>
                                    <p:message for="physicalAddress" />
                                    <p:outputLabel for="physicalcity" value="#{bundle['city']}" />
                                    <p:inputText id="physicalcity" value="#{profileBean.physicalAddress.city}" required="true" disabled="#{!profileBean.editing}"/>                       
                                    <p:message for="physicalcity" />
                                    <p:outputLabel for="physicalprovince" value="#{bundle['province']}" />
                                    <p:inputText id="physicalprovince" value="#{profileBean.physicalAddress.countrySubdivision}" required="true" disabled="#{!profileBean.editing}"/>
                                    <p:message for="physicalprovince" />
                                    <p:outputLabel for="physicalpostCode" value="#{bundle['postCode']}" />
                                    <p:inputText id="physicalpostCode" value="#{profileBean.physicalAddress.postalCode}" required="true" disabled="#{!profileBean.editing}"/>
                                    <p:message for="physicalpostCode" />
                                    <p:outputLabel for="physicalcountry" value="#{bundle['country']}" />
                                    <p:selectOneMenu id="physicalcountry" value="#{profileBean.physicalAddress.country}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true" disabled="#{!profileBean.editing}">
                                        <f:selectItem itemLabel="#{profileBean.physicalAddress.country.name}" itemValue="#{profileBean.physicalAddress.country}" />
                                        <f:selectItems value="#{profileBean.countries}" var="country" itemLabel="#{country.name}" itemValue="#{country}" />
                                    </p:selectOneMenu>
                                    <p:message for="physicalcountry" />
                                </p:panelGrid>
                                <p:commandButton value="#{bundle['edit']}" style="width:auto;margin-top:10px;" rendered="#{!profileBean.editing}" action="#{profileBean.edit}" update="physicalAddressForm"/>
                                <p:commandButton value="#{bundle['saveChanges']}" style="width:auto;margin-top:10px;margin-right: 10px" rendered="#{profileBean.editing}" action="#{profileBean.savePhysicalAddress()}" update="physicalAddressForm, messages"/>       
                                <p:commandButton value="#{bundle['cancel']}" styleClass="gray-button" style="width:auto;margin-top:10px;" rendered="#{profileBean.editing}" action="#{profileBean.cancelAddressEdit()}" immediate="true" update="physicalAddressForm"/>
                            </h:form>
                        </p:tab>
                      <p:tab title="#{bundle['postalAddress']}">
                            <h:form id="postalAddressForm">
                                <p:focus context="postalAddressForm"/>
                                <p:panelGrid columns="1" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
                                    <p:outputLabel for="address" value="#{bundle['postalAddress']}" />
                                    <p:inputTextarea id="address" value="#{profileBean.postalAddress.address}" required="true" maxlength="255" disabled="#{!profileBean.editing}"/>
                                    <p:message for="address" />
                                    <p:outputLabel for="city" value="#{bundle['city']}" />
                                    <p:inputText id="city" value="#{profileBean.postalAddress.city}" required="true" disabled="#{!profileBean.editing}"/>                       
                                    <p:message for="city" />
                                    <p:outputLabel for="province" value="#{bundle['province']}" />
                                    <p:inputText id="province" value="#{profileBean.postalAddress.countrySubdivision}" required="true" disabled="#{!profileBean.editing}"/>
                                    <p:message for="province" />
                                    <p:outputLabel for="postCode" value="#{bundle['postCode']}" />
                                    <p:inputText id="postCode" value="#{profileBean.postalAddress.postalCode}" required="true" disabled="#{!profileBean.editing}"/>
                                    <p:message for="postCode" />
                                    <p:outputLabel for="country" value="#{bundle['country']}" />
                                    <p:selectOneMenu id="country" value="#{profileBean.postalAddress.country}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true" disabled="#{!profileBean.editing}">
                                        <f:selectItem itemLabel="Select One" />
                                        <f:selectItems value="#{profileBean.countries}" var="country" itemLabel="#{country.name}" itemValue="#{country}" />
                                    </p:selectOneMenu>
                                    <p:message for="country" />
                                </p:panelGrid>
                                <p:commandButton value="#{bundle['edit']}" style="width:auto;margin-top:10px;" rendered="#{!profileBean.editing}" action="#{profileBean.edit}" update="postalAddressForm"/>
                                <p:commandButton value="#{bundle['saveChanges']}" style="width:auto;margin-top:10px;margin-right: 10px" rendered="#{profileBean.editing}" action="#{profileBean.savePostalAddress()}" update="postalAddressForm, messages"/>       
                                <p:commandButton value="#{bundle['cancel']}" styleClass="gray-button" style="width:auto;margin-top:10px;" rendered="#{profileBean.editing}" action="#{profileBean.cancelAddressEdit()}" immediate="true" update="postalAddressForm"/>
                            </h:form>
                        </p:tab>  
                    </p:tabView>
                </div>
            </div>
        </div>
        <p:growl id="messages" for="feedbackMessages"/>
    </ui:define>
</ui:composition>