<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer">
        <h:graphicImage id="footer-logo" name="images/equissential.png" style="height:50px"/>
        <p>Equissential</p>
        
        <div class="copyright">
            <p>All rights reserved.</p>
        </div>
    </div>
    
</ui:composition>