<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pi="http://primefaces.org/icarus">


    <h:form id="menuform"> 

        <pi:menu widgetVar="IcarusMenu" rendered="#{systemBean.userMode}">
            <p:menuitem id="im_dashboard" value="Dashboard" icon="fa fa-home" outcome="/app/dashboard"/>
            <p:menuitem id="im_db_landing" value="Promotion Page" icon="fa fa-certificate" outcome="/app/dashboard"/>
            <p:submenu id="im_components" label="Components" icon="fa fa-sitemap">
                <p:menuitem id="im_sample" value="Sample Page" icon="fa fa-columns" outcome="/app/dashboard" />
                <p:menuitem id="im_forms" value="Forms" icon="fa fa-code" outcome="/app/dashboard" />
                <p:menuitem id="im_data" value="Data" icon="fa fa-table" outcome="/app/dashboard" />
                <p:menuitem id="im_panels" value="Panels" icon="fa fa-list-alt" outcome="/app/dashboard" />
                <p:menuitem id="im_overlays" value="Overlays" icon="fa fa-square" outcome="/app/dashboard" />
                <p:menuitem id="im_menus" value="Menus" icon="fa fa-minus-square-o" outcome="/app/dashboard" />
                <p:menuitem id="im_messages" value="Messages" icon="fa fa-circle-o-notch" outcome="/app/dashboard" />
                <p:menuitem id="im_charts" value="Charts" icon="fa fa-area-chart" outcome="/app/dashboard" />
                <p:menuitem id="im_fileupload" value="FileUpload" icon="fa fa-arrow-circle-o-up" outcome="/app/dashboard" />
                <p:menuitem id="im_misc" value="Misc" icon="fa fa-user-secret" outcome="/app/dashboard" />
            </p:submenu>
            <p:submenu id="im_default" label="Default Pages" icon="fa fa-life-saver">
            </p:submenu>
            <p:submenu id="im_hierarchy" label="Menu Hierarchy" icon="fa fa-gg">
                <p:submenu id="im_sm1" label="Submenu 1" icon="fa fa-sign-in">
                    <p:submenu id="im_sm11" label="Submenu 1.1" icon="fa fa-sign-in">
                        <p:submenu id="im_sm111" label="Submenu 1.1.1" icon="fa fa-sign-in">
                            <p:menuitem id="im_lnk1111" value="Link 1" icon="fa fa-sign-in" url="#" />
                            <p:menuitem id="im_lnk1112" value="Link 2" icon="fa fa-sign-in" url="#" />
                            <p:menuitem id="im_lnk1113" value="Link 3" icon="fa fa-sign-in" url="#" />
                        </p:submenu>
                    </p:submenu>
                    <p:menuitem id="im_lnk12" value="Submenu 1.2" icon="fa fa-sign-in" url="#" />
                    <p:menuitem id="im_lnk13" value="Submenu 1.3" icon="fa fa-sign-in" url="#" />
                </p:submenu>
                <p:submenu id="im_sm2" label="Submenu 2" icon="fa fa-sign-in">
                    <p:submenu id="im_21" label="Submenu 2.1" icon="fa fa-sign-in">
                        <p:submenu id="im_211" label="Submenu 2.1.1" icon="fa fa-sign-in">
                            <p:menuitem id="im_lnk2111" value="Link 1" icon="fa fa-sign-in" url="#" />
                            <p:menuitem id="im_lnk2112" value="Link 2" icon="fa fa-sign-in" url="#" />
                            <p:menuitem id="im_lnk2113" value="Link 3" icon="fa fa-sign-in" url="#" />
                        </p:submenu>
                    </p:submenu>
                </p:submenu>
            </p:submenu>
            
        </pi:menu>

        <pi:menu widgetVar="IcarusMenu2" rendered="#{systemBean.adminMode}">
            <p:menuitem id="im_admin_dashboard" value="Admin" icon="fa fa-home" outcome="/app/dashboard"/>
            <p:submenu id="im_admin_tasks" label="#{bundle['tasks']}" icon="fa fa-list">
                <p:menuitem id="im_admin_join_request" value="#{bundle['joinRequests']}" outcome="/app/admin/pendingJoinRequests" />
            </p:submenu>
            <p:submenu id="im_admin_settings" label="#{bundle['settings']}" icon="fa fa-cog">
                <p:menuitem id="im_admin_media" value="#{bundle['media']}" outcome="/app/admin/media" />
                <p:menuitem id="im_admin_categories" value="#{bundle['categories']}" outcome="/app/admin/category" />
                <p:menuitem id="im_admin_awards" value="#{bundle['awards']}" outcome="/app/admin/award" />
                <p:menuitem id="im_admin_ratings" value="#{bundle['ratings']}" outcome="/app/admin/rating" />
                <p:menuitem id="im_admin_promo_criteria" value="#{bundle['promotionCriteria']}" outcome="/app/admin/promotionCriteriaList" />
            </p:submenu>
            
        </pi:menu>
        
        <pi:menu widgetVar="IcarusMenu3" rendered="#{systemBean.systemAdminMode}">
            <p:menuitem id="im_sys_admin_dashboard" value="System Admin" icon="fa fa-home" outcome="/app/dashboard"/>
            <p:submenu id="im_sys_admin_todo" label="To Do" icon="fa fa-sitemap">
                <p:menuitem id="im_sys_admin_join_request" value="#{bundle['joinRequests']}" icon="fa fa-user" outcome="/app/dashboard" />
            </p:submenu>
            
        </pi:menu> 
    </h:form>
    
</ui:composition>