<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    

    <div id="sidebar-header">
        <div id="logo-wrapper">
            <h:graphicImage name="images/equissential.png" id="logo" width="76"/>
        </div>
        <a id="slim-menu-button" href="#">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>

    
</ui:composition>