<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:panelGroup layout="block" id="top-bar-wrapper">
        <div id="top-bar">
            <div class="search-bar">
                <p:outputLabel value="#{systemBean.selectedOrganisationPerson.organisation.name}" styleClass="search"/>
            </div>

            <div class="top-bar-profile">
                <div class="profile-name">
                    <span><h:outputText value="#{person.firstName} #{person.surname} "/></span><br/>
                    <h:outputText value="#{systemBean.systemMode}" rendered="#{!systemBean.userMode}"/>
                </div>
                <a href="#" id="profile-image">
                    <h:graphicImage name="images/profile.png" library="icarus-layout" style="border: 0 none;"/>
                </a>
                <ul class="top-submenu animated flipInX">
                    <li>
                        <h:form id="myProfileFrm">
                            <h:commandLink id="myProfile" action="/app/profile">
                                <i class="fa fa-fw fa-user"></i>
                                <span><h:outputText value="#{bundle['profile']}"/></span>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <h:form id="joinOrgFrm">
                            <h:commandLink id="joinOrg" action="/app/joinOrganisation">
                                <i class="fa fa-fw fa-users"></i>
                                <span><h:outputText value="#{bundle['joinOrganisation']}"/></span>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <a href="#">
                            <i class="top-submenu-icon fa fa-fw fa-envelope"></i>
                            <span>Messages</span>
                            <span class="top-submenu-badge">5</span>
                        </a>
                    </li>

                    <li>
                        <h:form id="userModeForm">
                            <h:commandLink id="userMode" action="#{systemBean.setUserMode()}" rendered="#{!systemBean.userMode}">
                                <i class="fa fa-fw fa-camera"></i>
                                <span><h:outputText value="#{bundle['userMode']}"/></span>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <h:form id="adminModeForm">
                            <h:commandLink id="adminMode" action="#{systemBean.setAdminMode()}" rendered="#{systemBean.canSwitchToAdmin()}">
                                <i class="top-submenu-icon fa fa-fw fa-cogs"></i>&#160;<h:outputText value="#{bundle['adminMode']}"/>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <h:form id="sysAdminModeForm">
                            <h:commandLink id="systemAdminMode" action="#{systemBean.setSysAdminMode()}" rendered="#{systemBean.canSwitchToSystemAdmin()}">
                                <i class="top-submenu-icon fa fa-fw fa-wrench"></i>&#160;<h:outputText value="#{bundle['systemAdminMode']}"/>
                            </h:commandLink>
                        </h:form>
                    </li>                    
                    <li>
                        <h:form id="topBarSwitchOrgForm">
                            <h:commandLink id="topBarSwitchOrgLink" action="/app/admin/switchOrganisation" rendered="#{systemBean.adminMode}">
                                <i class="top-submenu-icon fa fa-fw fa-exchange"></i>&#160;<h:outputText value="#{bundle['switchOrganisation']}"/>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <h:form>
                            <h:commandLink id="logout" action="#{loginBean.logout}">
                                <i class="top-submenu-icon fa fa-fw fa-close"></i>&#160;<h:outputText value="#{bundle['logout']}"/>
                            </h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </div>

            <div id="top-menu" class="top-menu">
                <div class="top-bar-icon">
                    <a href="#">
                        <i class="fa fa-bell-o animated swing" aria-hidden="true"></i>
                        <i class="top-bar-badge animated rubberBand">3</i>
                    </a>
                    <ul class="top-submenu animated flipInX">
                        <li class="header">You have 3 tasks.</li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-mobile"></i>
                                <span>Mobile app release</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-line-chart"></i>
                                <span>Review sale reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-plane"></i>
                                <span>Reserve flight</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-icon">
                    <a href="#">
                        <i class="fa fa-envelope-o animated swing" aria-hidden="true"></i>
                        <i class="top-bar-badge animated rubberBand">5</i>
                    </a>
                    <ul class="top-submenu animated flipInX">
                        <li class="header">You have 5 messages.</li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_1.png" library="icarus-layout" width="35"/>
                                <span>Nice to meet you.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_2.png" library="icarus-layout" width="35"/>
                                <span>Sales reports attached.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_3.png" library="icarus-layout" width="35"/>
                                <span>About your invoice.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_4.png" library="icarus-layout" width="35"/>
                                <span>Meeting today at 10pm.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_2.png" library="icarus-layout" width="35"/>
                                <span>Lunch today?</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>
