<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Equissential</title>
    </h:head>

    <h:body styleClass="containerLogin">
        <div class="logo-container">
            <h:graphicImage name="images/equissential.png"/>
        </div>
        <h:form id="forgotPasswordFrm">
            <div class="ui-g">
                <p:panel header="EMMA - #{bundle['resetPassword']}" styleClass="panel-login">
                    <p:focus context="forgotPasswordFrm"/>
                    <p:messages showDetail="false" autoUpdate="true" closable="true" />
                    <div class="ui-g-12" style="padding-top:35px;">
                        <h:outputText value="#{bundle['findAccount']}"/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText value="#{forgotPasswordBean.emailAddress}" style="width:60%"
                                     id="userEmailAddress" required="true" label="Email Address" maxlength="65"
                                     placeholder="#{bundle['email']}"
                                     requiredMessage="#{bundle['valueRequiredEmail']}"
                                     validatorMessage="#{bundle['invalidEmail']}">
                            <f:validateRegex pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" />
                        </p:inputText>                   
                    </div>
                    <div class="ui-g-12">
                        <p:commandButton id="emailButton" value="#{bundle['continue']}" update="forgotPasswordFrm"   
                                         action="#{forgotPasswordBean.sendPasswordChangeRequest}" style="width: 150px;"/> 
                    </div>
                    <div class="ui-g-2" style="padding-top:20px;"></div>
                </p:panel>
                <div class="ui-g-12 footer-login">
                    <span>&#169; 2017 Equissentials. All rights reserved.</span>
                </div>
            </div>
        </h:form>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>

        <h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
    </h:body>

</html>