<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Equissential</title>
    </h:head>

    <h:body styleClass="containerLogin">
        <div class="logo-container">
            <h:graphicImage name="images/equissential.png"/>
        </div>
        <h:form id="loginFrm">
            <div class="ui-g">
                <p:panel header="Equissential - #{bundle['login']}" styleClass="panel-login">
                    <p:focus context="loginFrm"/>
                    <p:messages showDetail="false" autoUpdate="true" closable="true" />
                    <div class="ui-g-12" style="padding-top:35px;">
                        <p:inputText id="usernameInput" required="true" maxlength="75" value="#{loginBean.email}" placeholder="#{bundle['email']}" style="width:60%;" requiredMessage="#{bundle['valueRequiredEmail']}"/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:password id="passwordInput" required="true" maxlength="75" value="#{loginBean.password}" placeholder="#{bundle['password']}" style="width:60%" requiredMessage="#{bundle['valueRequiredPassword']}" feedback="false"/>
                    </div>
                    <div class="ui-g-12">
                        <p:commandButton id="loginButton" value="#{bundle['login']}" action="#{loginBean.login}" update="loginFrm" style="width: 150px;"/>
                    </div>
                    <div class="ui-g-2" style="padding-top:20px;"></div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-6 ui-lg-6">
                            <p:button value="#{bundle['createAccount']}" outcome="register" styleClass="gray-button"/>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-6">
                            <p:link value="#{bundle['forgotPassword']}" styleClass="link-decoration" outcome="forgotPassword" style="line-height: 3em;"/>
                        </div>
                    </div>
                    <div class="ui-g-2"></div>
                </p:panel>
                <div class="ui-g-12 footer-login">
                    <span>&#169; 2017 Equissential. All rights reserved.</span>
                </div>
            </div>
        </h:form>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>

        <h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
    </h:body>

</html>