<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Equissential</title>
    </h:head>

    <h:body styleClass="containerLogin">
        <div class="logo-container">
            <h:graphicImage name="images/equissential.png"/>
        </div>
        <h:form id="registerFrm">
            <div class="ui-g">
                <p:panel header="#{bundle['createAccount']}" styleClass="panel-login">
                    <p:focus context="registerFrm"/>
                    <p:messages showDetail="false" autoUpdate="true" closable="true"/>
                    <div class="ui-g-12" style="padding-top:35px;">
                        <p:inputText value="#{registerBean.email}" style="width:60%"
                                     id="EmailAddress" required="true" placeholder="#{bundle['email']}" maxlength="65"
                                     validatorMessage="#{bundle['invalidEmail']}" requiredMessage="#{bundle['valueRequiredEmail']}">
                            <f:validateRegex pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" />
                        </p:inputText>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText value="#{registerBean.name}" style="width:60%" id="Name" required="true" placeholder="#{bundle['name']}" 
                                     requiredMessage="#{bundle['valueRequiredName']}" maxlength="40"/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText value="#{registerBean.surname}" id="Surname" required="true" placeholder="#{bundle['surname']}" 
                                     requiredMessage="#{bundle['valueRequiredSurname']}" maxlength="40" style="width:60%"/>  
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:password id="passwordInput" required="true" maxlength="75" value="#{registerBean.password}" placeholder="#{bundle['password']}" 
                                    requiredMessage="#{bundle['valueRequiredPassword']}" style="width:60%" feedback="false"/>
                    </div>
                    <div class="ui-g-12">
                        <p:commandButton id="registerButton" value="#{bundle['createAccount2']}" action="#{registerBean.register}" update="registerFrm" style="width: 150px;"/>
                    </div>
                    <div class="ui-g-2" style="padding-top:20px;"></div>
                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <p:link value="#{bundle['alreadyHaveAccount']}" styleClass="link-decoration" outcome="login"/>
                        </div>
                    </div>
                    <div class="ui-g-2"></div>
                </p:panel>
                <div class="ui-g-12 footer-login">
                    <span>&#169; 2017 Equissential. All rights reserved.</span>
                </div>
            </div>
        </h:form>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>

        <h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
    </h:body>

</html>