<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Equissential</title>
    </h:head>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="ml" value="#{resetPasswordBean.ml}" />
            <f:viewParam name="tk" value="#{resetPasswordBean.tk}" />
            <f:viewAction action="#{resetPasswordBean.validate}" />
        </f:metadata>
    </ui:define>    

    <h:body styleClass="containerLogin">
        <div class="logo-container">
            <h:graphicImage name="images/equissential.png"/>
        </div>
        <div class="ui-g">
            <p:panel header="#{bundle['resetEquissentialPassword']}" styleClass="panel-login">
                <p:focus context="resetFrm"/>
                <p:messages showDetail="false" autoUpdate="true" closable="true"/>

                <h:form id="resetFrm" rendered="#{resetPasswordBean.validRequest}">
                    <p:focus context="resetFrm"/>
                    <p:messages showDetail="true" autoUpdate="true" closable="true" for="resetError"/>
                    <div class="ui-g-12" style="padding-top:35px;">
                        <p:inputText id="usernameInput" required="true" maxlength="75" value="#{resetPasswordBean.ml}" placeholder="#{bundle['email']}" disabled="true" style="width:60%"/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:password id="passwordInput" required="true" maxlength="75" value="#{resetPasswordBean.password}" placeholder="#{bundle['password']}" requiredMessage="#{bundle['valueRequiredPassword']}" feedback="false" style="width:60%"/>
                    </div>
                    <div class="ui-g-12">
                        <p:commandButton value="#{bundle['resetPassword']}" action="#{resetPasswordBean.resetPassword}" update="resetFrm" style="width: 150px;"/>
                    </div>
                </h:form>
                <h:form id="resetFrm2" rendered="#{!resetPasswordBean.validRequest}">
                    <div class="ui-g-12" style="padding-top:35px;">
                        <h:outputText value="#{bundle['resetPasswordExpired']}" escape="false"/>
                    </div>
                    <p:button value="#{bundle['resetPassword']}" style="width: 150px;" outcome="forgotPassword"/>                        
                </h:form>
                <div class="ui-g-2"></div>
            </p:panel>
            <div class="ui-g-12 footer-login">
                <span>&#169; 2017 Equissential. All rights reserved.</span>
            </div>
        </div>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>

        <h:outputStylesheet name="css/layout-blue.css" library="icarus-layout" />
    </h:body>

</html>