<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['awards']}</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="awardForm">
                                <p:growl for="awardMsgs" id="awardMsgs" showDetail="false"/>

                                <p:toolbar>
                                    <f:facet name="left">
                                        <p:commandButton id="addButton" value="#{bundle['add']}" action="#{awardBean.showAddDialog()}" icon="fa fa-plus"
                                                         update=":addAwardForm,:awardDialog" oncomplete="PF('awardDlg').show()"/>
                                        <p:commandButton id="updateButton" value="#{bundle['update']}" action="#{awardBean.showEditDialog()}" icon="fa fa-refresh" 
                                                         disabled="#{fn:length(awardBean.selectedAwards) != 1}" style="margin-left: 5px" update=":addAwardForm,:awardDialog"
                                                         oncomplete="PF('awardDlg').show()"/>
                                        <p:commandButton id="deleteButton" value="#{bundle['delete']}" actionListener="#{awardBean.deleteSelectedAwards()}" update=":awardForm"
                                                         icon="fa fa-trash" disabled="#{fn:length(awardBean.selectedAwards) == 0}" style="margin-left: 5px">
                                            <p:confirm header="#{bundle['confirmDelete']}" icon="ui-icon-alert" />
                                        </p:commandButton>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <f:facet name="message"> 
                                                <p:outputPanel> 
                                                    <h:outputFormat value="#{bundle['entityDeleteConfirmation']}" escape="false">
                                                        <f:param value="#{bundle['awards']}" />
                                                    </h:outputFormat>
                                                </p:outputPanel> 
                                            </f:facet>                                            

                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>                                            

                                    </f:facet>
                                </p:toolbar>                                

                                <p:dataTable id="awardsDataTable" sortBy="#{award.awardName}" var="award" value="#{awardBean.awards}" selection="#{awardBean.selectedAwards}" rowKey="#{award.id}" style="margin-top:20px" >
                                    <p:ajax event="rowSelectCheckbox" update=":awardForm"/>
                                    <p:ajax event="rowUnselectCheckbox" update=":awardForm"/>
                                    <p:ajax event="rowSelect" update=":awardForm"/>
                                    <p:ajax event="rowUnselect" update=":awardForm"/>
                                    <p:ajax event="toggleSelect" update=":awardForm"/>

                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/> 
                                    <p:column headerText="#{bundle['name']}">
                                        <h:outputText value="#{award.awardName}"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['pointsAllocated']}">
                                        <h:outputText value="#{award.pointsAllocated}" />
                                    </p:column>
                                </p:dataTable>            

                            </h:form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <p:dialog id="awardDialog" widgetVar="awardDlg" showEffect="clip" position="center" resizable="false" modal="true">
            <f:facet name="header">
                <h:outputText id="dialogHeader" value="#{awardBean.dialogHeader}"/>
            </f:facet>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <h:form id="addAwardForm">
                        <p:messages id="addAwardMsgs" showDetail="false" autoUpdate="true" closable="true"/>
                        <p:focus context="addAwardForm"/>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="#{bundle['name']}" for="awardName"/>
                            <p:inputText id="awardName" value="#{awardBean.name}" required="true" requiredMessage="#{bundle['valueRequiredName']}" maxlength="100" size="50"/>
                            <p:outputLabel value="#{bundle['pointsAllocated']}" for="pointsAllocated"/>
                            <p:spinner id="pointsAllocated" value="#{awardBean.pointsAllocated}" />
                        </p:panelGrid>
                        <div align="right" style="margin-top: 20px">
                            <p:commandButton value="#{bundle['save']}" actionListener="#{awardBean.saveAward()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'awardDlg');" update=":awardForm:awardsDataTable,:awardForm:awardMsgs,:addAwardForm,:addAwardForm:addAwardMsgs"/>
                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('awardDlg').hide()"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </p:dialog>
    </ui:define>
</ui:composition>