<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>#{bundle['joinRequests']}</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
 
    <h:body>
        <h:form id="joinReqDeclineFrm">
            <div class="ui-g">
                <p:focus context="joinReqDeclineFrm"/>
                <div class="ui-g-12" style="padding-top:15px;">
                    <p:inputTextarea id="declineReasonInput" required="true" placeholder="#{bundle['reasonForDecline']}" style="width:98%;" requiredMessage="#{bundle['valueRequiredEmail']}" counter="display"
                                     maxlength="200" counterTemplate="{0} characters remaining" value="#{declineJoinReqDialogBean.declineReason}"/>
                    <h:outputText id="display" style="font-size: 0.75em"/>
                </div>
                <div class="ui-g-12">
                    <p:commandButton value="#{bundle['decline']}" styleClass="gray-button" actionListener="#{declineJoinReqDialogBean.closeDialog}"/>
                </div>
            </div>
        </h:form>    
    </h:body>
</html>