<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['horses']}</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="categoryForm">
                                <p:growl for="horseMsgs" id="horseMsgs" showDetail="false"/>

                                <p:toolbar>
                                    <f:facet name="left">
                                        <p:commandButton id="addButton" value="#{bundle['add']}" action="#{horseBean.showAddDialog()}" icon="fa fa-plus"
                                                         update=":addHorseForm,:horseDialog" oncomplete="PF('horseDlg').show()"/>
                                        <p:commandButton id="updateButton" value="#{bundle['update']}" action="#{categoryBean.showEditDialog()}" icon="fa fa-refresh" 
                                                         disabled="#{fn:length(horseBean.selectedHorses) != 1}" style="margin-left: 5px" update=":addHorseForm,:HorseDialog"
                                                         oncomplete="PF('horseDlg').show()"/>
                                        <p:commandButton id="deleteButton" value="#{bundle['delete']}" actionListener="#{horseBean.deleteHorse()}" update=":horseForm"
                                                         icon="fa fa-trash" disabled="#{fn:length(horseBean.selectedHorses) == 0}" style="margin-left: 5px">
                                            <p:confirm header="#{bundle['confirmDelete']}" icon="ui-icon-alert" />
                                        </p:commandButton>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <f:facet name="message"> 
                                                <p:outputPanel> 
                                                    <h:outputFormat value="#{bundle['entityDeleteConfirmation']}" escape="false">
                                                        <f:param value="#{bundle['horses']}" />
                                                    </h:outputFormat>
                                                </p:outputPanel> 
                                            </f:facet>                                            

                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>                                            

                                    </f:facet>
                                </p:toolbar>                                

                                <p:dataTable id="horsesDataTable" sortBy="#{horse.name}" var="horse" value="#{horseBean.horses}" selection="#{horseBean.selectedHorses}" rowKey="#{horse.id}" style="margin-top:20px" >
                                    <p:ajax event="rowSelectCheckbox" update=":horseForm"/>
                                    <p:ajax event="rowUnselectCheckbox" update=":horseForm"/>
                                    <p:ajax event="rowSelect" update=":horseForm"/>
                                    <p:ajax event="rowUnselect" update=":horseForm"/>
                                    <p:ajax event="toggleSelect" update=":horseForm"/>

                                    <p:column selectionMode="single" style="width:16px;text-align:center"/> 
                                    <p:column headerText="#{bundle['name']}">
                                        <h:outputText value="#{horse.name}"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['breed']}">
                                        <h:outputText value="#{horse.breed}" />
                                    </p:column>
                                    <p:column headerText="#{bundle['colour']}">
                                        <h:outputText value="#{horse.colour}" />
                                    </p:column>
                                    <p:column headerText="#{bundle['gender']}">
                                        <h:outputText value="#{horse.gender}" />
                                    </p:column>
                                </p:dataTable>            

                            </h:form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <p:dialog id="horseDialog" widgetVar="horseDlg" showEffect="clip" position="center" resizable="false" modal="true">
            <f:facet name="header">
                <h:outputText id="dialogHeader" value="#{horseBean.dialogHeader}"/>
            </f:facet>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <h:form id="addHorseForm">
                        <p:messages id="addHorseMsgs" showDetail="false" autoUpdate="true" closable="true"/>
                        <p:focus context="addHorseForm"/>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="#{bundle['name']}" for="horseName"/>
                            <p:inputText id="horseName" value="#{horseBean.name}" required="true" requiredMessage="#{bundle['valueRequiredName']}" maxlength="100" size="50"/>
                            
                            
                            
                            
                            
                            
                            <h:outputText id="display" style="font-size: 0.75em"/>
                        </p:panelGrid>
                        <div align="right">
                            <p:commandButton value="#{bundle['save']}" actionListener="#{horseBean.saveHorse()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'horseDlg');" update=":horseForm:horsesDataTable,:horseForm:horseMsgs,:addHorseForm,:addHorseForm:addHorseMsgs"/>
                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('horseDlg').hide()"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </p:dialog>
    </ui:define>
</ui:composition>