<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['media']}</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="mediaForm">
                                <p:growl for="mediaMsgs" id="mediaMsgs" showDetail="false"/>

                                <p:toolbar>
                                    <f:facet name="left">
                                        <p:commandButton id="addButton" value="#{bundle['add']}" action="#{mediaBean.showAddDialog()}" icon="fa fa-plus"
                                                         update=":addMediumForm,:mediumDialog" oncomplete="PF('mediumDlg').show()"/>
                                        <p:commandButton id="updateButton" value="#{bundle['update']}" action="#{mediaBean.showEditDialog()}" icon="fa fa-refresh" 
                                                         disabled="#{fn:length(mediaBean.selectedMedia) != 1}" style="margin-left: 5px" update=":addMediumForm,:mediumDialog"
                                                         oncomplete="PF('mediumDlg').show()"/>
                                        <p:commandButton id="deleteButton" value="#{bundle['delete']}" actionListener="#{mediaBean.deleteSelectedMedia()}" update=":mediaForm"
                                                         icon="fa fa-trash" disabled="#{fn:length(mediaBean.selectedMedia) == 0}" style="margin-left: 5px">
                                            <p:confirm header="#{bundle['confirmDelete']}" icon="ui-icon-alert" />
                                        </p:commandButton>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <f:facet name="message"> 
                                                <p:outputPanel> 
                                                    <h:outputFormat value="#{bundle['entityDeleteConfirmation']}" escape="false">
                                                        <f:param value="#{bundle['media']}" />
                                                    </h:outputFormat>
                                                </p:outputPanel> 
                                            </f:facet>                                            
                                            
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>                                            

                                    </f:facet>
                                </p:toolbar>                                

                                <p:dataTable id="mediaDataTable" sortBy="#{medium.mediumName}" var="medium" value="#{mediaBean.media}" selection="#{mediaBean.selectedMedia}" rowKey="#{medium.id}" style="margin-top:20px" >
                                    <p:ajax event="rowSelectCheckbox" update=":mediaForm"/>
                                    <p:ajax event="rowUnselectCheckbox" update=":mediaForm"/>
                                    <p:ajax event="rowSelect" update=":mediaForm"/>
                                    <p:ajax event="rowUnselect" update=":mediaForm"/>
                                    <p:ajax event="toggleSelect" update=":mediaForm"/>

                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/> 
                                    <p:column headerText="#{bundle['name']}">
                                        <h:outputText value="#{medium.mediumName}"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['projectable']}">
                                        <h:outputText value="#{medium.projectable}" />
                                    </p:column>
                                </p:dataTable>
                                
                            </h:form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <p:dialog id="mediumDialog" widgetVar="mediumDlg" showEffect="clip" position="center" resizable="false" modal="true">
            <f:facet name="header">
                <h:outputText id="dialogHeader" value="#{mediaBean.dialogHeader}"/>
            </f:facet>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <h:form id="addMediumForm">
                        <p:messages id="addMediumMsgs" showDetail="false" autoUpdate="true" closable="true"/>
                        <p:focus context="addMediumForm"/>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="#{bundle['name']}" for="mediumName"/>
                            <p:inputText id="mediumName" value="#{mediaBean.name}" required="true" requiredMessage="#{bundle['valueRequiredName']}" maxlength="100" size="50"/>
                            <h:outputText value="#{bundle['projectable']}" />
                            <p:selectBooleanButton id="projectable" value="#{mediaBean.projectable}" onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" style="width:60px"/>
                        </p:panelGrid>
                        <div align="right" style="margin-top: 15px">
                            <p:commandButton value="#{bundle['save']}" actionListener="#{mediaBean.saveMedium()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'mediumDlg');" update=":mediaForm:mediaDataTable,:mediaForm:mediaMsgs,:addMediumForm,:addMediumForm:addMediumMsgs"/>
                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('mediumDlg').hide()"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </p:dialog>
    </ui:define>
</ui:composition>