<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['pendingJoinRequests']}</h1>
                    <h:form id="approvalForm">
                        <p:growl id="growl" showDetail="false" sticky="false" />
                        
                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton id="approveButton" value="#{bundle['approve']}" actionListener="#{approveJoinOrganisationBean.approveJoin()}" update=":approvalForm"
                                                 icon="fa fa-check" disabled="#{fn:length(approveJoinOrganisationBean.selectedOrgJoinReqDetails) == 0}"/>
                                <p:commandButton id="declineButton" value="#{bundle['decline']}" actionListener="#{declineJoinReqDialogBean.showReasonForDeclineDialog()}"
                                                 icon="fa fa-times" disabled="#{fn:length(approveJoinOrganisationBean.selectedOrgJoinReqDetails) == 0}" style="margin-left: 5px;">
                                    <p:ajax event="dialogReturn" listener="#{approveJoinOrganisationBean.declineJoin}" update=":approvalForm"/>
                                </p:commandButton>
                            </f:facet>
                        </p:toolbar>                                
                        
                        
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p:dataTable id="approvalDataTable" var="joinRequest" value="#{approveJoinOrganisationBean.orgJoinReqDetails}" selection="#{approveJoinOrganisationBean.selectedOrgJoinReqDetails}" rowKey="#{joinRequest.organisationPersonPK.personId}" style="margin-bottom:0">
                                    <p:ajax event="rowSelectCheckbox" update=":approvalForm:approveButton,:approvalForm:declineButton"/>
                                    <p:ajax event="rowUnselectCheckbox" update=":approvalForm:approveButton,:approvalForm:declineButton"/>
                                    <p:ajax event="rowSelect" update=":approvalForm:approveButton,:approvalForm:declineButton"/>
                                    <p:ajax event="rowUnselect" update=":approvalForm:approveButton,:approvalForm:declineButton"/>
                                    <p:ajax event="toggleSelect" update=":approvalForm:approveButton,:approvalForm:declineButton"/>

                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <p:column headerText="#{bundle['person']}">
                                        <h:outputText value="#{joinRequest.person.firstName} #{joinRequest.person.surname}" />
                                    </p:column>
                                    <p:column headerText="#{bundle['dateSubmitted']}">
                                        <h:outputText value="#{joinRequest.dateSubmitted}" converter="localDateTimeConverter"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['mobileNumber']}">
                                        <h:outputText value="#{joinRequest.person.mobileNumber}" />
                                    </p:column>
                                    <p:column headerText="#{bundle['phoneNumber']}">
                                        <h:outputText value="#{joinRequest.person.phoneNumber}" />
                                    </p:column>
                                    <p:column headerText="Status">
                                        <h:outputText value="#{joinRequest.status}" />
                                    </p:column>
                                </p:dataTable>                            
                            </div>
                        </div>
                    </h:form>                    
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>