<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['promotionCriteria']}</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="promotionCriteriaForm">
                                <p:growl for="promotionCriteriaMsgs" id="promotionCriteriaMsgs" showDetail="false"/>

                                <p:toolbar>
                                    <f:facet name="left">
                                        <p:commandButton id="addButton" value="#{bundle['add']}" action="/app/admin/promotionCriteria" icon="fa fa-plus"/>
                                        <p:commandButton id="updateButton" value="#{bundle['update']}" action="/app/admin/promotionCriteria" icon="fa fa-refresh" 
                                                         disabled="#{fn:length(promotionCriteriaBean.selectedPromotionCriteria) != 1}" style="margin-left: 5px"/>
                                        <p:commandButton id="deleteButton" value="#{bundle['delete']}" actionListener="#{promotionCriteriaBean.deleteSelectedPromotionCriteria()}" update=":promotionCriteriaForm"
                                                         icon="fa fa-trash" disabled="#{fn:length(promotionCriteriaBean.selectedPromotionCriteria) == 0}" style="margin-left: 5px">
                                            <p:confirm header="#{bundle['confirmDelete']}" icon="ui-icon-alert" />
                                        </p:commandButton>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <f:facet name="message"> 
                                                <p:outputPanel> 
                                                    <h:outputFormat value="#{bundle['entityDeleteConfirmation']}" escape="false">
                                                        <f:param value="#{bundle['promotionCriteria']}" />
                                                    </h:outputFormat>
                                                </p:outputPanel> 
                                            </f:facet>                                            

                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>                                            

                                    </f:facet>
                                </p:toolbar>                                

                                <p:dataTable id="promotionCriteriaDataTable" var="promotionCriteria" value="#{promotionCriteriaBean.promotionCriteria}" 
                                             selection="#{promotionCriteriaBean.selectedPromotionCriteria}" rowKey="#{promotionCriteria.id}" style="margin-top:20px">
                                    <p:ajax event="rowSelectCheckbox" update=":promotionCriteriaForm"/>
                                    <p:ajax event="rowUnselectCheckbox" update=":promotionCriteriaForm"/>
                                    <p:ajax event="rowSelect" update=":promotionCriteriaForm"/>
                                    <p:ajax event="rowUnselect" update=":promotionCriteriaForm"/>
                                    <p:ajax event="toggleSelect" update=":promotionCriteriaForm"/>

                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/> 
                                    <p:column headerText="#{bundle['medium']}">
                                        <h:outputText value="#{promotionCriteria.medium.mediumName}"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['ratingFrom']}">
                                        <h:outputText value="#{promotionCriteria.fromRating.ratingName}"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['ratingTo']}">
                                        <h:outputText value="#{promotionCriteria.toRating.ratingName}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>