<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['promotionCriteria']}</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="promotionCriteriaForm">
                                <p:focus context="promotionCriteriaForm"/>
                                <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                                    <p:outputLabel value="#{bundle['medium']}" for="medium"/>
                                    <p:selectOneMenu id="medium" value="#{promotionCriteriaBean.selectedMedium}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true">
                                        <f:selectItem itemLabel="Select One" itemValue="" />
                                        <f:selectItems value="#{promotionCriteriaBean.media}" var="medium" itemLabel="#{medium.mediumName}" itemValue="#{medium}"/>
                                    </p:selectOneMenu>
                                    <p:outputLabel value="#{bundle['rating']}" for="fromRating"/>
                                    <p:selectOneMenu id="fromRating" value="#{promotionCriteriaBean.selectedFromRating}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true">
                                        <f:selectItem itemLabel="Select One" itemValue="" />
                                        <f:selectItems value="#{promotionCriteriaBean.ratings}" var="rating" itemLabel="#{rating.ratingName}" itemValue="#{rating}"/>
                                    </p:selectOneMenu>
                                    <p:outputLabel value="#{bundle['rating']}" for="toRating"/>
                                    <p:selectOneMenu id="toRating" value="#{promotionCriteriaBean.selectedToRating}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true">
                                        <f:selectItem itemLabel="Select One" itemValue="" />
                                        <f:selectItems value="#{promotionCriteriaBean.ratings}" var="rating" itemLabel="#{rating.ratingName}" itemValue="#{rating}"/>
                                    </p:selectOneMenu>
                                    <p:tree value="#{promotionCriteriaBean.root}" var="node" selectionMode="single" selection="#{promotionCriteriaBean.selectedNode}" orientation="horizontal" id="criteriaTree">
                                        <p:ajax event="select" listener="#{promotionCriteriaBean.onNodeSelect}" />
                                        <p:treeNode>
                                            <h:outputText value="#{node}" />
                                        </p:treeNode>
                                    </p:tree>                                                                     
                                    <p:toolbar>
                                        <f:facet name="left">
                                            <p:commandButton value="#{bundle['addCriteriaPath']}" oncomplete="PF('pathDlg').show()"/>
                                            <p:commandButton value="#{bundle['addCriteria']}" oncomplete="PF('criteriaDlg').show()"/>
                                        </f:facet>

                                        <f:facet name="right">
                                            <p:commandButton value="#{bundle['save']}" actionListener="#{promotionCriteriaBean.savePromotionCriteria()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'promotionCriteriaDlg');" />
                                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('promotionCriteriaDlg').hide()"/>
                                        </f:facet>
                                    </p:toolbar>                                    
                                </p:panelGrid>
                                <div align="right">
                                </div>
                            </h:form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <p:dialog id="pathDialog" widgetVar="pathDlg" showEffect="clip" position="center" resizable="false" modal="true">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <h:form id="addPathForm">
                        <p:focus context="addPathForm"/>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="Path" />
                            <p:inputText id="pathName" value="#{promotionCriteriaBean.pathName}" required="true"/>
                        </p:panelGrid>
                        <div align="right">
                            <p:commandButton value="#{bundle['save']}" actionListener="#{promotionCriteriaBean.addPath()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'pathDlg');" update=":promotionCriteriaForm:criteriaTree"/>
                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('pathDlg').hide()"/>
                        </div>                        
                    </h:form>
                </div>
            </div>
        </p:dialog>        
        <p:dialog id="criteriaDialog" widgetVar="criteriaDlg" showEffect="clip" position="center" resizable="false" modal="true">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <h:form id="addCriteriaForm">
                        <p:focus context="addCriteriaForm"/>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="#{bundle['criteriaType']}" />
                            <p:selectOneMenu id="criteriaType" value="#{promotionCriteriaBean.selectedCriteriaType}" converter="omnifaces.SelectItemsConverter" required="true" effect="fade" effectSpeed="fast" filter="true">
                                <f:selectItem itemLabel="Select One" itemValue="" />
                                <f:selectItems value="#{promotionCriteriaBean.criteriaTypes}" var="criteriaType" itemLabel="#{criteriaType.criteriaTypeName}" itemValue="#{criteriaType}"/>
                            </p:selectOneMenu>                            
                            <p:outputLabel value="for" />
                            <p:pickList id="awardPickList" value="#{promotionCriteriaBean.awards}" var="award" itemLabel="#{award.awardName}" itemValue="#{award}">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Selected</f:facet>
                            </p:pickList>
                            <p:outputLabel value="must be greater than or equal to" />
                            <p:spinner id="criteriaAmount" value="#{promotionCriteriaBean.criteriaAmount}" />
                        </p:panelGrid>
                        <div align="right">
                            <p:commandButton value="#{bundle['save']}" actionListener="#{promotionCriteriaBean.addCriteria()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'criteriaDlg');" update=":promotionCriteriaForm:criteriaTree"/>
                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('criteriaDlg').hide()"/>
                        </div>                        
                    </h:form>
                </div>
            </div>
        </p:dialog>        
    </ui:define>
</ui:composition>