<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card centerText">
                    <h1 class="lightBlack">#{bundle['ratings']}</h1>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="ratingForm">
                                <p:growl for="ratingMsgs" id="ratingMsgs" showDetail="false"/>

                                <p:toolbar>
                                    <f:facet name="left">
                                        <p:commandButton id="addButton" value="#{bundle['add']}" action="#{ratingBean.showAddDialog()}" icon="fa fa-plus"
                                                         update=":addRatingForm,:ratingDialog" oncomplete="PF('ratingDlg').show()"/>
                                        <p:commandButton id="updateButton" value="#{bundle['update']}" action="#{ratingBean.showEditDialog()}" icon="fa fa-refresh" 
                                                         disabled="#{fn:length(ratingBean.selectedRatings) != 1}" style="margin-left: 5px" update=":addRatingForm,:ratingDialog"
                                                         oncomplete="PF('ratingDlg').show()"/>
                                        <p:commandButton id="deleteButton" value="#{bundle['delete']}" actionListener="#{ratingBean.deleteSelectedRatings()}" update=":ratingForm"
                                                         icon="fa fa-trash" disabled="#{fn:length(ratingBean.selectedRatings) == 0}" style="margin-left: 5px">
                                            <p:confirm header="#{bundle['confirmDelete']}" icon="ui-icon-alert" />
                                        </p:commandButton>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <f:facet name="message"> 
                                                <p:outputPanel> 
                                                    <h:outputFormat value="#{bundle['entityDeleteConfirmation']}" escape="false">
                                                        <f:param value="#{bundle['ratings']}" />
                                                    </h:outputFormat>
                                                </p:outputPanel> 
                                            </f:facet>                                            

                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>                                            

                                    </f:facet>
                                </p:toolbar>                                

                                <p:dataTable id="ratingsDataTable" sortBy="#{rating.ratingName}" var="rating" value="#{ratingBean.ratings}" 
                                             selection="#{ratingBean.selectedRatings}" rowKey="#{rating.id}" style="margin-top:20px">
                                    <p:ajax event="rowSelectCheckbox" update=":ratingForm"/>
                                    <p:ajax event="rowUnselectCheckbox" update=":ratingForm"/>
                                    <p:ajax event="rowSelect" update=":ratingForm"/>
                                    <p:ajax event="rowUnselect" update=":ratingForm"/>
                                    <p:ajax event="toggleSelect" update=":ratingForm"/>

                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/> 
                                    <p:column headerText="#{bundle['name']}">
                                        <h:outputText value="#{rating.ratingName}"/>
                                    </p:column>
                                    <p:column headerText="#{bundle['description']}">
                                        <h:outputText value="#{rating.description}" />
                                    </p:column>
                                </p:dataTable>            

                            </h:form>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <p:dialog id="ratingDialog" widgetVar="ratingDlg" showEffect="clip" position="center" resizable="false" modal="true">
            <f:facet name="header">
                <h:outputText id="dialogHeader" value="#{ratingBean.dialogHeader}"/>
            </f:facet>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <h:form id="addRatingForm">
                        <p:messages id="addRatingMsgs" showDetail="false" autoUpdate="true" closable="true"/>
                        <p:focus context="addRatingForm"/>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="#{bundle['name']}" for="ratingName"/>
                            <p:inputText id="ratingName" value="#{ratingBean.ratingName}" required="true" requiredMessage="#{bundle['valueRequiredName']}" maxlength="100" size="50"/>
                            <p:outputLabel value="#{bundle['description']}" for="description"/>
                            <p:inputTextarea id="description" style="width:98%;" counter="display" maxlength="200"
                                             counterTemplate="{0} characters remaining" value="#{ratingBean.description}"/>
                            <h:outputText id="display" style="font-size: 0.75em"/>
                        </p:panelGrid>
                        <div align="right">
                            <p:commandButton value="#{bundle['save']}" actionListener="#{ratingBean.saveRating()}" style="width:auto;" oncomplete="hideDialogOnSuccess(args, 'ratingDlg');" update=":ratingForm:ratingsDataTable,:ratingForm:ratingMsgs,:addRatingForm,:addRatingForm:addRatingMsgs"/>
                            <p:link value="#{bundle['cancel']}" styleClass="link-decoration" onclick="PF('ratingDlg').hide()"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </p:dialog>
    </ui:define>
</ui:composition>